.game-board-container {
  border: solid 2px red;
  width: 130px;
}

.game-settings {
  text-align: center;
}

.btn-cell {
  font-size: 8px;
  margin: 0px;
  padding: 0px;
  background-color: hotpink;
}

img {
  width: 25px;
  height: 25px;
  margin: 0px;
  padding: 0px;
}

.div-cell {
  font-size: 8px;
  margin: 1px;
  padding: 0px;
  background-color: hotpink;
  height: 25px;
  width: 25px;
}

legend {
  font-size: 12px;
  color: darkgray;
}

label {
  color: rgba(0, 26, 77, 0.8);
}

.mine-counter {
  font-size: 16px;
  color: blue;
}

.game-timer {
  font-size: 20px;
  color: red;
}

.alert {
  display: none;
}

.btn-play {
  margin: 20px;
}
.set-diff {
  margin: 20px;
}

#setupForm {
}

h2 {
  text-align: center;
  background-color: darkgray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  padding: 5px;
  border-bottom: 2px solid rgb(32, 30, 30);
}
.slider-display {
  color: rgba(0, 26, 77, 0.7);
}

.score-table {
  text-align: center;
  border: solid 1px rgba(0, 26, 77, 0.7);
}
